domain: anthonymoniz.com       # if you want to force HTTPS, specify the domain without the http at the start, e.g. example.com
url: https://anthonymoniz.com  # the base hostname and protocol for your site, e.g. http://example.com

collections:
    #the name of a collection. Maps to a folder _authors
    authors:
        output: true
        
defaults:
    - scope:
        path: ""
        type: "authors"
      values:
        layout: "author"
    - scope:
        path: ""
        type: "posts"
      values:
        layout: "post"
    - scope:
        path: ""
      values:
        layout: "default"
        
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag